<div class="col-md-12" *ngIf="products._embedded">
  <h2 style="margin: auto">Products</h2>
  <div class="row">
  <div  *ngFor="let p of products._embedded.products" class="card col-4" style="margin: 2%;">
    <div class="card-body">
      <h5 class="card-title">{{p.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{p.price}} DH</h6>
      <div class="text-right">
        <a class="card-link" routerLink="/shoppingCart/{{p.id}}">Buy Now</a>
      </div>
    </div>
  </div>
  </div>
</div>
